@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf)
      format('truetype');
}

@layer tailwind-base, antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'NanumSquareNeo', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  background: #f5f4f4;
  font-size: 11pt;
}

body {
  @apply text-gray-600;
}

p strong {
  @apply font-bold;
}

.container-narrow {
  @apply container max-w-[640px];
}

.ant-card {
  @apply shadow-xl shadow-teal-950/5 border-none;
}

label.ant-form-item-required {
  @apply leading-7;
  height: initial !important;
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  @apply text-green-500; 
}

.custom-carousel .slick-prev:hover,
.custom-carousel .slick-next:hover {
  @apply text-green-800; /* should change color */
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #ffffff; /* Customize the active dot color */
}

.ant-carousel .slick-dots li button {
  background-color: #888888; /* Customize the dot color */
}

.skeleton-sm .ant-skeleton-paragraph > li {
  @apply !h-3 !mt-3 first:!mt-0;
}

.ant-collapse-header{
  @apply !items-center;
}

textarea.minimal{
  @apply !border-l-0 !border-r-0 !border-b-0 !outline-none !shadow-none p-2 !border-t-2 border-transparent focus:border-teal-500 rounded-none;
}

textarea.minimal.dimmed{
  @apply !bg-gray-100/80 hover:!bg-gray-200/60;
}